<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebasedemo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cookie"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseDemo">
        <activity
            android:name=".contactUsActivity"
            android:exported="false" />
        <activity
            android:name=".recipeBookActivity"
            android:exported="false" />
        <activity
            android:name=".submittedRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".favoritesActivity"
            android:exported="false" />
        <activity
            android:name=".profileActivity"
            android:exported="false" />
        <activity
            android:name=".AddRecipe"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainRecycler"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".LoginActivity_dead"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="false" />
        <activity
            android:name=".RecipeData"
            android:exported="false" />
        <activity
            android:name=".power"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>